
<body>
<h1>ISDA 111 - Video Game Data Analytics Project</h1>
<p>Hi team, This is the starter document we can use.</p>
<h2>Team Members: add your name here</h2>
<p>Chris Alcala - Handimexi</p>
<p>Wilson Huynh - mybedro0m</p>
<p>Fernando Valle - Jando Fett</p>

</body>

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

In [7]:
df = pd.read_csv("game_data_all.csv")
df.columns

Index(['Unnamed: 0', 'game', 'link', 'release', 'peak_players',
       'positive_reviews', 'negative_reviews', 'total_reviews', 'rating',
       'primary_genre', 'store_genres', 'publisher', 'developer',
       'detected_technologies', 'store_asset_mod_time', 'review_percentage',
       'players_right_now', '24_hour_peak', 'all_time_peak',
       'all_time_peak_date'],
      dtype='object')

In [8]:
df

       Unnamed: 0                              game           link  \
0               0                       Pizza Tower  /app/2231450/
1               1                   Resident Evil 4  /app/2050650/
2               2  The Murder of Sonic the Hedgehog  /app/2324650/
3               3                Pineapple on pizza  /app/2263010/
4               4                        Hi-Fi RUSH  /app/1817230/
...           ...                               ...            ...
67566       67566                   Space Empires V     /app/1690/
67567       67567  Iron Warriors: T-72 Tank Command     /app/1670/
67568       67568          Gumboy: Crazy Adventures     /app/2520/
67569       67569                   Shattered Union     /app/3960/
67570       67570               Poker Superstars II     /app/4100/

          release  peak_players  ...  review_percentage  players_right_now  \
0      2023-01-26          4529  ...               98.0              3,101
1      2023-03-24        168191  ...               97.0             46,289
2      2023-03-31         15543  ...               98.0                618
3      2023-03-28          1415  ...               98.0                101
4      2023-01-25          6132  ...               97.0                630
...           ...           ...  ...                ...                ...
67566  2006-10-16           137  ...               70.0                  8
67567  2006-07-26            15  ...               62.0                  0
67568  2006-12-19            22  ...               50.0                  0
67569  2006-10-25            13  ...               50.0                  1
67570  2006-10-05             9  ...               50.0                  0

       24_hour_peak  all_time_peak all_time_peak_date
0             3,606           4529         2023-03-25
1            47,164         168191         2023-03-25
2               776          15543         2023-03-31
3               101           1415         2023-03-28
4               664           6132         2023-01-29
...             ...            ...                ...
67566            12            137         2013-03-01
67567             2             15         2014-03-01
67568             1             22         2008-09-13
67569             2             13         2020-03-15
67570             4              9         2012-12-01

[67571 rows x 20 columns]